*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #B6C4B6;
}
h1,h4,h3{
    font-family: 'Kanit', sans-serif;
}
p{
    font-size: 1.5vw;
}
h3{
    font-size: 1.8vw;
}
.container{
    padding:20px;
}
p{
    margin:10px 0px;
}
@media(max-width:600px){
    p{
        font-size: 4.5vw;
    }
    h3{
        font-size: 6vw;
    }
    h1{
        font-size: 8vw;
    }
}